// app global css
html, body {
  margin: 0;
  background: #444444;
  color: #ebebeb;
  font-size: 18px;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face
  font-family freemonobold
  src url(../assets/fonts/freemonobold.ttf);

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Englebert&display=swap');