// app global css
html, body {
  margin: 0;
  background: $background;
  color: $text;
  font-size: 18px;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: $link;
  text-decoration: none;
}
a:hover {
  color: $link_hover;
  text-decoration: underline;
}
a:active {
  color: $link_active;
  text-decoration: underline;
}

@font-face
  font-family freemonobold
  src url(../assets/fonts/freemonobold.ttf);

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Englebert&display=swap');

.center-in-container {
  display: flex;
  justify-content: center;
}
