// app global css
html, body {
  margin: 0;
  background: $background;
  color: $text;
  font-size: 18px;
  max-width: 100%;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Englebert&display=swap');

a {
  color: $link;
  text-decoration: none;
}
a:hover {
  color: $link_hover;
  text-decoration: underline;
}
a:active {
  color: $link_active;
  text-decoration: underline;
}

h1 {
  font-size: 2.6rem;
  font-family: 'Englebert', sans-serif;
  color: #f0a937;
  margin: 0;
  @media (max-width: 900px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-family: 'Englebert', sans-serif;
  color: #f0a937;
  margin: 0;
  @media (max-width: 900px) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.7rem;
  font-family: 'Englebert', sans-serif;
  color: #f0a937;
  margin: 0;
  @media (max-width: 900px) {
    line-height: 1.7rem;
    font-size: 1.6rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-family: 'Englebert', sans-serif;
  color: #d17f48;
  margin: 0;
  @media (max-width: 900px) {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.3rem;
  font-family: 'Englebert', sans-serif;
  color: #d17f48;
  margin: 0;
  @media (max-width: 900px) {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

h6 {
  font-size: 1.1rem;
  font-family: 'Englebert', sans-serif;
  color: #d17f48;
  margin: 0;
  @media (max-width: 900px) {
    font-size: 1.2rem;
  }
}
